:root {
    --blue: #3586F1;
    --dark-blue: #141B2E;
    --red: #FF4757;
    --orange: #F27D35;
    --green: #81E55D;
    --green-dark: #286911;
    --purple: #7F48D1;
    --purple-dark: #512593;
    --purple-light: #F0E5FF;
    --black: #000000;
    --gray: #545C64;
    --gray-light: #79859D;
    --white: #ffffff;
    --off-white: #F6F8FA;
    --silver-mist: #D5D9E3;

    --color-primary: var(--purple);
    --color-primary-dark: var(--purple-dark);
    --color-primary-light: var(--purple-light);

    --color-success: var(--green);
    --color-success-dark: var(--green-dark);

    --color-danger: var(--red);
    --color-warning: var(--orange);
    --color-info: var(--blue);

    --color-text-primary: var(--black);
    --color-text-secondary: var(--dark-blue);
    --color-text-muted: var(--gray);
    --color-text-muted-soft: var(--gray-light);

    --color-background: var(--white);
    --color-background-alt: var(--off-white);

    --color-border: var(--silver-mist);

    --font-family-inter: "Inter", sans-serif;
    --font-family-futura-pt: "Futura-Pt", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
}

/*------------------*\
    FONTS
\*------------------*/

/* Inter */
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/static/Inter_18pt-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/static/Inter_18pt-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/static/Inter_18pt-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Futura Pt */
@font-face {
    font-family: "Futura-Pt";
    src: url("../fonts/futura-pt/static/FuturaCyrillicBold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/static/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}


/*------------------*\
    RESET
\*------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-family-inter);
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#app {
    min-height: 100vh;
}

/*------------------*\
    UTILITIES
\*------------------*/
.container-xl {
    width: 100%;
    max-width: 1920px;
    padding-inline: 114px;
}

.container-lg {
    width: 100%;
    max-width: 1360px;
    padding-inline: 24px;
}


/*------------------*\
   MEDIA
\*------------------*/
@media (max-width: 1536px) {
    .container-xl {
        padding-inline: 78px;
    }
}

@media (max-width: 1280px) {
    .container-xl {
        padding-inline: 48px;
    }
}

@media (max-width: 768px) {
    .container-xl {
        padding-inline: 12px;
    }
}
